#filtering-class{
    border-color: #33383b;
    background-color: coral;
}

.logo{
    width: 25%;
}

.main-body{
  padding: 5%;
}

.post{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 2%;
  margin: 2%
}

/*.all-signup{
    border: #33383b;
    display: table;
    width: 100%;
}


.signup-left{
    display: table-cell;
    width: 50%;
    background: coral;
    float:left;
    border: 2px solid black;

}

.signup-image{
    width:100%;
    background: #33383b;
}

.signup-content{
    padding: 10%;
    width: 100%;
}

.signup-right{
    display: table-cell;

    width: 50%;
    float:right;
}

*/

.post_image{
  width:25%
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid ;
}


#profile_picture{
  border: 7px solid black;
  margin: auto;
  display: block;
  max-width:20%;
  max-height:20%;
  width: auto;
  height: auto;
}

.align_center{
  text-align: center;
  margin: auto;
}

.form-design{
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 0;
}

.form-group{
    text-align: center;
    border: none;
}

h1{
  text-align: center;
  color:red;
}

main{
  text-align: center;
}
 /* below is the styling for the forms specifically the sign up button and log in page elements*/
#signupbutton {
  padding-top: 5%;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.attempt {
    margin: 0 auto;
    text-align: center;
}

h2{
  padding-left: 20%;
  padding-right: 20%;
}

form {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;

}

/* Navbar CSS */
* {
  box-sizing: border-box;
}

.nav {
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: transparent;
  /*position: relative;*/
}

/*.nav > .nav-header {
  display: inline;
}*/
.nav{
  display: inline-block !important;
  margin: auto;
  text-align: center;
}

.nav > .nav-header > .nav-title {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /*float: right;*/
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  color: black;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  color: red;
}

.nav > #nav-check {
  display: none;
}

/* For responsive aspect */
@media (max-width:600px) {

  .nav > .nav-header > .nav-title {
    font-size: 30px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: red;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }

  .menu-small{
      padding: 1.5%;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    border-color: #33383b;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*  footer */



.footer-distributed{
	background: #cccccc;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 35px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}




/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer socials */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 40px;
	height: 35px;
	cursor: pointer;
    background-color:  #33383b;

	border-radius: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 10px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .signup-right .signup-left{
        float: none;
        }
    .signup-image{
       display: none ;
    }

    .signup-left{
       width:100%;
    }
}
/* to make sure its responsive */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px Montserrat, sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}


}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}


}
