.main-body{
  padding: 5%;
}

.post{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 2%;
  margin: 2%
}

.post_image{
  width:25%
}

#profile_picture{
  border: 7px solid black;
  margin: auto;
  display: block;
  max-width:20%;
  max-height:20%;
  width: auto;
  height: auto;
}

.align_center{
  text-align: center;
  margin: auto;
}

.form-design{
  font-family: 'Open Sans', cursive;
  text-align: center;
  padding: 0;
}

.form-group{
    text-align: center;
    border: none;
}

h1{
  text-align: center;
  color:red;
}

main{
  text-align: center;
}
 /* below is the styling for the forms specifially the sign up button and log in page elements*/
#signupbutton {
  padding-top: 5%;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.attempt {
    margin: 0 auto;
    text-align: center;
}

h2{
  padding-left: 20%;
  padding-right: 20%;
}

form {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;

}

/* Navbar CSS */
* {
  box-sizing: border-box;
}

.nav {
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: transparent;
  /*position: relative;*/
}

/*.nav > .nav-header {
  display: inline;
}*/
.nav{
  display: inline-block !important;
  margin: auto;
  text-align: center;
}

.nav > .nav-header > .nav-title {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /*float: right;*/
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  color: lightgray;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: lightgray;
}

.nav > .nav-links > a:hover {
  color: black;
}

.nav > #nav-check {
  display: none;
}

/* For responsive aspect */
@media (max-width:600px) {

  .nav > .nav-header > .nav-title {
    font-size: 30px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: black;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #afcfde;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

