<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Libre+Baskerville&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/design.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Template</title>
</head>
<body>
<header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">Space4Less</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav my-2 ">
                <li class="nav-item active">
                    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-fw fa-search"></i> Browse</a>

                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-fw fa-user"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Notifications</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<main>
    <div class="socials">
        <a href="https://twitter.co.uk">
            <img title="Twitter" alt="Twitter" src="../static/01_twitter.png" width="35" height="35"/>
        </a>
        <br>
        <a href="https://www.facebook.com">
            <img title="Facebook" alt="Facebook" src="../static/02_facebook.png" width="35" height="35"/>
        </a>
        <br>
        <a href="https://www.instagram.com">
            <img title="Instagram" alt="Instagram icon" src="../static/10_instagram.png" width="35" height="35"/>
        </a>
        <br>
    </div>
    <div class="logo">
        <img src="../static/logospace4less.jpg">
    </div>

</main>

<footer>

</footer>

</body>
</html>