{% extends 'layout.html' %}

{% block content %}
    <form class="form-inline ml-auto" action="search" method="post">
    <input class="form-control" type="search" name="search_term" placeholder="Enter location">
    <button type=submit class='btn btn-primary btn-outline-light'>Search</button>
    </form>

    {% for post in posts %}
            <div class="post">
                <div class="media content-section">
                    <img class="mr-3 article-image" src="{{ url_for('static', filename='post_pictures/' + post.image, width=5000, height =5000) }}">

                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{ url_for('main.single_post', post_id=post.post_id) }}">{{ post.title }}</a></h4>
                        <p>Posted by <a href="#">{{ post.author.username }}</a></p>
                        <p>{{ post.content }}</p>
                        <small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>
            </div>
        {# <h1>{{ post.title }}</h1>
        <p> Posted by <a href="#">{{ post.author.username }}</a> </p>
        <small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        <p >{{ post.content }}</p>
        <img alt= 'hello' src="{{ url_for('static', filename='post_pictures/' + post.image, width=50, height =50) }}">
        #}

{#        {% if current_user.roles == 'renter' %}#}
{#            <a href="{{ url_for('main.book', postid=post.post_id) }}">Book</a>#}
{#        {% endif %}#}

    {% endfor %}

{% endblock content %}