<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- this makes sure it is responsive to different screen sizes-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- link to font -->
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">

    <!--The link to our stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
    {# the title of the head will change depending on the page we are at. We can do this with an if statement #}

    {% if title %}
        <title> {{title}} </title>
    {% else %}
        <title> {{ space4less }}</title>
    {% endif %}

</head>

<body>
<header>
    <!-- Navbar code from codepen-->
    <nav class="nav">
        <!-- allows for clicking the navbar icon when the screen is small-->
        <input type="checkbox" id="nav-check">

        <!-- navbar title on the left -->
        <div class="nav-header">
            <div class="nav-title">
                Space<span style='color: red'>4</span>Less
            </div>
        </div>

        <!-- design of the nav-bar icon when the screen is small-->
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <!-- navbar content on the right -->
        <div class="nav-links">
            <a href="{{ url_for('main.home_page') }}"> Home/Browse</a>
            <a href="{{ url_for('main.account') }}"> Account</a>
            <a href="{{ url_for('main.notifications') }}"> Notifications</a>
            <a href="#" target="_blank"> Post/Book </a>
            <a href="{{ url_for('main.login') }}"> Registration</a>
        </div>
    </nav>

</header>

<div class="container">
    {% block content %}{% endblock content %}
</div>


</body>
</html>