{% extends 'layout.html' %}

{% block content %}
    <div class="attempt">
        <!-- changed the class names to match the styling of the register page (bootstrap styling)-->

        <form method="POST" action=" " novalidate>
            <fieldset class="form-design">
                <legend>Log In</legend>
                <div id="register-text">
                    <p> Please fill in all the boxes below</p>
                </div>
                <div class="form-group">{{ form.email.label(class="form-control-label") }} {{ form.email(class="form-control") }}</div>
                <div class="form-group"> {{ form.password.label(class="form-control-label") }} {{ form.password(class="form-control") }}</div>
            </fieldset>
        </form>
        <p id="signupbutton">{{ form.submit(class="form-control form-control-lg") }}</p>
    </div>

{% endblock content %}
