{% extends 'layout.html' %}
{% block content %}

            <div class="container">
            <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='post_pictures/' + post.image, width=50, height =50) }}">

                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <p>Posted by <a href="#">{{ post.author.username }}</a></p>
                    <p>{{ post.content }}</p>
                    <small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>

                </div>
            </div>
            </div>

        {% if current_user.roles == 'renter' %}
            <a href="{{ url_for('main.book', postid=post.post_id) }}">Book</a>
        {% endif %}


{% endblock content %}