{% extends 'layout.html' %}
{% block content %}


            <div class="container">
            <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='post_pictures/' + post.image, width=50, height =50) }}">

                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <p>Posted by <a href="#">{{ post.author.username }}</a></p>
                    <p>{{ post.content }}</p>
                    <p><small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>

                {% if (current_user.roles == 'renter') %}
                  <a class="btn btn-sm btn-danger"  href="{{ url_for('main.book', postid = post.post_id) }}">BOOK!</a>

                {% elif (current_user.roles == 'property_owner') and (post.author == current_user) %}

                        <a class="btn btn-sm btn-default" href="#">Update</a>
                        <a class="btn btn-sm btn-danger" href="#">Delete</a>

                {% endif %}
                </div>
            </div>
            </div>

{% endblock content %}