{% extends 'layout.html' %}
{% block content %}

            <div class="row post">
                <div class="media">

                        <img class="col-md-2 post_image" src="{{ url_for('static', filename='post_pictures/' + post.image, width=500, height =500) }}">


                    <div class="media-body">
                        <h4 class="media-heading">{{ post.title }}</h4>
                        <p>Posted by <a href="#">{{ post.author.username }}</a></p>
                        <p>{{ post.content }}</p>
                        <p><small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
                    </div>

                    <div>
                        {% if (current_user.roles == 'renter') %}
                          <a class="btn btn-sm btn-danger"  href="{{ url_for('main.book', postid = post.post_id) }}">Request Booking!</a>

                        {% elif (current_user.roles == 'property_owner') and (post.author == current_user) %}

                                <a class="btn btn-sm btn-primary" href="#">Update</a>
                                <a class="btn btn-sm btn-danger" href="#">Delete</a>
                        {% else %}

                        {% endif %}
                    </div>
                </div>
            </div>

{% endblock content %}